<div class="big-card-container">
  <div class="big-card-photo">

    <img 
      src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/420px-FC_Barcelona_%28crest%29.svg.png"
      height="200px"
      alt="big-card-photo">
   
  </div>
  <div class="big-card-title">
     <h1><a href="">New Barcelona team on fire </a></h1>
  </div>
  <div class="big-card-description">
    <p>
      <a> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam urna magna, accumsan sed mi ut, facilisis imperdiet magna. Aliquam id nisi ligula. Donec rutrum aliquam diam, sed congue purus. In hac habitasse platea dictumst. Mauris non iaculis arcu, lacinia interdum lectus. Etiam a leo risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis cursus nisl. Duis sit amet nulla egestas, luctus orci et, dictum nunc. Proin ligula diam, blandit ac porttitor sed, viverra non lectus.</a> 
    </p>
  </div>
</div>
